* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

html, body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
html, body, header, .counter, .page-title, #play-space {
  display: flex;
}

body {
  background-color: #333;
  color: #ffffff;
  cursor: default;
  flex-direction: column;
  font-family: Copse, serif;
  align-items: center;
  margin: 0;
}

header {
  background-color: #222;
  color: #03bbbb;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100vw;
}

img {
  border: 10px solid #333;
  cursor: pointer; 
  position: absolute;
  width: 500px;
  height: 500px;
  margin: 20px;
}

.counter {
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  padding: 0 10px;
}
.page-title {
  display: flex;
  justify-content: center;
  flex: 1;
}
.paw {
  flex: 1;
  justify-self: center;
  width: 8rem;
  height: 8rem;
}

#play-space {
  align-content: center;
  justify-content: center;
  flex: 1;
  width: 100%;
}

/* Media Queries */

@media (max-width: 750px) {
  header {
    flex-direction: column;
  }
  .counter {
    font-size: 28px;
    margin: 0 0 10px;
  }
}